@main-color: #c7b299;
@main-font-montserrat: Montserrat, sans-serif;
@main-font-raleway: Raleway, sans-serif;

.menu-icon-responsive {
	display: none;
}

@media screen and (max-width: 1000px){
    #resp {
        display: none;
    }
    .menu-icon-responsive {
    	display: block;
    	color: #fff;
    	padding: 12px;
    }
    #resp li {
        display: block;
    }
}

.showcase {
	background: url(../img/showcase/showcase-2.jpg) no-repeat center top;
	background-size: cover;
	margin: auto;
	width: 100%;
	height: 100vh;
}

.wrapper {
	max-width: 1230px;
	margin: 0 auto;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	.logotype {
		justify-content: flex-start;	
	}
	.navigation-menu {
		display: flex;
		justify-content: flex-end;
		.navigation-list {
			display: flex;
			a {
				transition: color 0.4s linear;
			}
		}
	}
}

.menu__item {
	font-family: @main-font-montserrat;
	font-weight: 300;
	font-size: 14px;
	list-style-type: none;
	color: #fff;
	margin: auto;
	padding-left: 29px;
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			color: @main-color; 
		}
	}
} 

.services-block {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 60px 32px;
	color: #fff;
	flex-wrap: wrap;
	a {
		text-decoration: none;
		display: inline-flex;
		margin-top: 25px;
		&:hover {
			h2, .pencil-less, .cog-less, .tasks-less, .case-less {
				color: #c7b299;
			}
		}
	}
	h2 {
		font-family: @main-font-raleway;
		color: #555555;
		font-size: 22px;
		font-weight: 400;
		transition: color 0.4s linear;
	}
	p {
		color: #8c8c8c;
		font-family: @main-font-montserrat;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		padding-top: 19px;
	}
	.web-app-design, .development, .customization, .marketing {
		width: 266px;
		@media screen and (max-width: 1130px){
		width: 400px;
		}
		@media screen and (max-width: 864px){
			width: 266px;
		}
		.cog-less, .pencil-less, .tasks-less, .case-less, .search {
			color: #000;
			padding-bottom: 29px;
			transition: color 0.4s linear;
		}
	}
}

.realization {
	text-align: center;
	h2 {
		font-family: @main-font-raleway;
		font-size: 30px;
		font-weight: 400;
		color: #555555;
	}
	p {
		font-family: @main-font-montserrat;
		font-size: 16px;
		font-weight: 300px;
		line-height: 28px;
		margin: auto;
		max-width: 727px;
		padding: 35px 30px;
	} 
	img {
		width: 100%;
		margin: auto;
		display: block;
	}
}

.purchase {
	background: url(../img/section-background.png) no-repeat center center;
	margin: auto;
	width: 100%;
	.purchase-block {
		padding: 49px 30px;
	}
	h1 {
		font-family: @main-font-raleway;
		font-size: 28px;
		font-weight:400;
		color: #fff;
	}
	.waxom {
		color: #c7b299;
	}
	p {
		font-family: @main-font-montserrat;
		font-size: 18px;
		font-weight: 300;
		color: #615855;
	}
	.purchase-button {
		display: flex;
		justify-content: flex-end;
		text-transform: uppercase;
	}
}

.projects-presentation {
text-align: center;
margin-top: 80px;
	h2 {
		font-family: @main-font-raleway;
		font-size: 30px;
		font-weight: 400;
		color: #555;
		padding-bottom: 24px;
	}
	.test {
		display: inline-block;
		font-family: @main-font-montserrat;
		font-size: 16px;
		font-weight: 300;
		color: #8c8c8c;
		max-width: 757px;
		line-height: 28px;
	}
	.filter-navigation {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style-type: none;
		font-family: @main-font-montserrat;
		font-size: 14px;
		font-weight: 300;
		color: #8c8c8c;
		a {
			text-decoration: none;
			color:#8c8c8c;
		}
		li {
			border: 1px solid #EBEBEB;
			border-radius: 3px;
			padding: 10px 24px;
			margin: 40px 10px;
			&:hover {
				background-color: #998675;
				transition: background-color 0.4s;
				a {
					color: #fff;
				}
			}
		}
	}
	.the-phone {
		display: block;
		width: 100%;
		height: 100%;
		a {
			font-family: @main-font-raleway;
			font-size: 20px;
			font-weight: 500;
			text-decoration: none;
			color: #c7b299;
		}
		.item-outer {
			display: inline-block;
			text-align: left;
			padding-top: 30px;
			padding-left: 28px;
			.content-outer {
				
			}
		}

	}
}

@media screen and (max-width: 830px){
	.purchase-block {
		display: none;
	}
	}

.video-block {
	img {
	margin: auto;
	width: 100%;
	display: block;
	}
}